*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.task-form-div{
  margin-top: 2%;
  width: fit-content;
  padding: 1% 4% 4% 4%;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#task-title, #task-description, #duedate, #deadlinetime, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 3%;
}

.task-h1{
  text-align: center;
  background-color: rgb(203, 255, 255);
  border-radius: 5%;
}

.form-divs{
  display: flex;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
}

.status-section{
  margin-bottom: 3%;
}

#task-cards{
  display: flex;
  flex-direction: column; /* Stack the cards vertically */
  align-items: center;
}


.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */


.card {
  margin: 10px;
  padding: 20px;
  width: 90%;
  min-height: max-content;
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__timeline,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__timeline {
  font-weight: 600;
  color: #2a00a9;
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 12px;
  text-align: center;
  background-color: #2a00a9;
  width: 35px;
  border-radius: 25px;
  padding: 10px;
  margin: 0%;
}

.card__info {
  grid-row: 1/2;
  grid-column: 1/2;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.card__timeline {
  margin: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-weight: 600;
  color: #2a00a9;
  white-space: pre-line;
  width: 50%;
}

.card__dueDateInput, .card__deadlineInput {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-weight: 600;
  color: #2a00a9;
  white-space: pre-line; 
}

.card__status {
  margin: 0;
  font-weight: 400;
  padding: 8px 14px;
  border-radius: 25px;
  background-color: #2a00a9;
  color: #ffffff;
}

.card__title {
  grid-row: 3/4;
  font-weight: 600;
  margin: 2px;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  margin: 2px;
  align-self: center;
}

.card__changes{
  display: flex;
  justify-content: flex-end;
}

.card__editing, .card__deleting{
  padding: 0% 1%;
  cursor: pointer;
  color: #2a00a9;
  font-weight: 600;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#76b2fe, #b69efe);
}


/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
